/*
Theme Name: Processo2021.2
Author: IN Junior
Description: Estudos para o processo seletivo da In Junior
Version: 1.0
*/
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows:auto 1fr auto;
    color: aliceblue;
}
header,footer{
    height: 70px;
    background-color: #0066cc;
}
main{
    background-color: #333;
}
h1{
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
    text-decoration: underline;
}
#menu-navegacao{
    display: flex;
    gap:10px
}